html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#RollBtn {
    text-align: center;
    font-size: 50px;
    margin: 10px;
} 

#userinput {
    margin: 20px;
}

#userinput > input {
    width: 60px;
    border-radius: 25px;
    border-style: solid;
    text-align: center;
}
